<div class="container">
  <button type="button" class="btn btn-primary btn-large" (click)="tempfn('DecreaseFun')">handleDecreaseFun()</button>
  <button type="button" class="btn btn-primary btn-large" (click)="tempfn('IncreaseFun')">handleIncreaseFun()</button>
  <button type="button" class="btn btn-primary btn-large" (click)="tempfn('IncreaseByCounterFun')">handleIncreaseByCounterFun:{{increaseBy}}</button>
  <button type="button" class="btn btn-primary btn-large" (click)="tempfn('ResetFun')">handleResetFun</button>
  <button type="button" class="btn btn-primary btn-large" (click)="handleIncreaseBy()">handleIncreaseBy</button>
</div>